.mat-success {background-color: #6b95aa;color: #fff;}
.mat-danger { background-color: #5a0023;color: #fff;}
.mat-dialog-actions { justify-content: flex-end;}

.example-h2 {margin: 10px;}
  
.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  .example-margin { margin: 0 10px;}
