<div class="text-center">
    <div style="background-color: #5a0023;color: white;text-transform:uppercase;">
      <a *ngIf="action =='Add'" class="btn btn-block"  style="background-color: #5a0023; color: white;font-size: larger;"><i class="material-icons" style="font-size: larger;">add_box</i> {{action}} </a>
      <a *ngIf="action =='Update'" class="btn btn-block"  style="background-color: #5a0023; color: white;font-size: larger;"><i class="material-icons" style="font-size: larger;">edit</i> {{action}} </a>
      <a *ngIf="action =='Delete'" class="btn btn-block"  style="background-color: #5a0023; color: white;font-size: larger;"><i class="material-icons" style="font-size: larger;">delete_forever</i> {{action}} </a>
    </div>
  <div mat-dialog-content >
    <ng-container *ngIf="action != 'Delete'; else elseTemplate">
        <mat-form-field *ngIf="action == 'Update'">
          <input style="font-weight: bolder; color: #5a0023;" placeholder="{{action}} Id" readonly matInput [(ngModel)]="local_data.id"required>
        </mat-form-field>
        <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
          <input placeholder="{{action}} Ces id" matInput [(ngModel)]="local_data.ces_id"required>
        </mat-form-field>
        <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
          <input placeholder="{{action}} Expected date" matInput [(ngModel)]="local_data.expected_delivery_date">
        </mat-form-field>
        <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
          <input placeholder="{{action}} Barcode" matInput [(ngModel)]="local_data.box_barcode">
        </mat-form-field>
        <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
          <input placeholder="{{action}} Scan datetime" matInput required [(ngModel)]="local_data.scan_datetime">
        </mat-form-field>
        <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
          <input placeholder="{{action}} Scan by" matInput required [(ngModel)]="local_data.scan_by">
        </mat-form-field>
        <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
          <input placeholder="{{action}} Status" matInput required [(ngModel)]="local_data.status">
        </mat-form-field>
        <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
          <input placeholder="{{action}} Opened by" matInput required [(ngModel)]="local_data.opened_by">
        </mat-form-field>
        <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
          <input placeholder="{{action}} Temp status" matInput required [(ngModel)]="local_data.temp_status">
        </mat-form-field>
        <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
          <input placeholder="{{action}} Nb forms" matInput required [(ngModel)]="local_data.nb_forms">
        </mat-form-field>
        <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
          <input placeholder="{{action}} Import process id" matInput required [(ngModel)]="local_data.import_process_id">
        </mat-form-field>


      <!-- <mat-form-field  *ngIf="action != 'Delete'; else elseTemplate" > 
        <div class="row">
          <div class="col-md-6"> <input matInput readonly placeholder="{{action}} Is Manual " matInput required [(ngModel)]="manualSelected" > </div>
          <div class="col-md-6">
            <mat-slide-toggle [checked]="isChecked(manualSelected)"  (change)="toggleManual($event)" >
              {{manualSelected}}
            </mat-slide-toggle>
          </div>
        </div>
      </mat-form-field> -->
    </ng-container>
    <ng-template #elseTemplate style="margin: 10px;">
      <mat-form-field style="text-align: center;margin:10px;" >
        <input style="font-weight:bolder;"  placeholder="{{action}} Box barcode" readonly matInput required [(ngModel)]="local_data.box_barcode">
      </mat-form-field>
    </ng-template>
  </div>
  <div  mat-dialog-actions>
    <button mat-button class="mat-success" (click)="doAction()" >{{action}}</button>
    <button mat-button class="mat-danger" (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
  </div>
</div>