<div class="text-center">
    <div style="background-color: #5a0023;color: white;text-transform:uppercase;">
      <a *ngIf="action =='Add'" class="btn btn-block"  style="background-color: #5a0023; color: white;font-size: larger;"><i class="material-icons" style="font-size: larger;">add_box</i> {{action}} </a>
      <a *ngIf="action =='Update'" class="btn btn-block"  style="background-color: #5a0023; color: white;font-size: larger;"><i class="material-icons" style="font-size: larger;">edit</i> {{action}} </a>
      <a *ngIf="action =='Delete'" class="btn btn-block"  style="background-color: #5a0023; color: white;font-size: larger;"><i class="material-icons" style="font-size: larger;">delete_forever</i> {{action}} </a>
    </div>
  <div mat-dialog-content >
    <ng-container *ngIf="action != 'Delete'; else elseTemplate">
        <mat-form-field *ngIf="action == 'Update'">
          <input style="font-weight: bolder; color: #5a0023;" placeholder="{{action}} Id" readonly matInput [(ngModel)]="local_data.id"required>
        </mat-form-field>
        <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
          <input placeholder="{{action}} Ces id" matInput [(ngModel)]="local_data.ces_id"required>
        </mat-form-field>
        <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
          <input placeholder="{{action}} Expected date" type="datetime-local" matInput [ngModel]="local_data.expected_delivery_date | date:'yyyy-MM-ddTHH:mm'" (ngModelChange)="filterDateFrom = dateChanged($event,'expected_delivery_date')">
        </mat-form-field>
        <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
          <input placeholder="{{action}} Barcode" matInput [(ngModel)]="local_data.box_barcode">
        </mat-form-field>
        <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
          <!-- <input placeholder="{{action}} Scan datetime" matInput required [(ngModel)]="local_data.scan_datetime"> -->
          <input matInput type="datetime-local" placeholder="{{action}} Scan datetime" [ngModel]="local_data.scan_datetime | date:'yyyy-MM-ddTHH:mm'" (ngModelChange)="filterDateFrom = dateChanged($event,'scan_datetime')">
        </mat-form-field>
        <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
          <input placeholder="{{action}} Scan by" matInput required [(ngModel)]="local_data.scan_by">
        </mat-form-field>
        <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
          <mat-select value="{{statusSelected}}" placeholder="{{action}} Status" (selectionChange)="selectedCategory($event)">
                <mat-option value=""></mat-option>
                 <mat-option value="Closed">Closed</mat-option>
                <mat-option value="Opened">Opened</mat-option>
                <mat-option value="Received">Received</mat-option>
          </mat-select>
      </mat-form-field>
        <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
          <input placeholder="{{action}} Opened by" matInput required [(ngModel)]="local_data.opened_by">
        </mat-form-field>
        <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
          <input placeholder="{{action}} Nb forms" matInput required [(ngModel)]="local_data.nb_forms">
        </mat-form-field>
        <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
          <input placeholder="{{action}} Import process id" matInput required [(ngModel)]="local_data.import_process_id">
        </mat-form-field>
        <section class="example-section">
          <label class="example-margin"> {{action}} Status : </label>
          <mat-radio-group [(ngModel)]="local_data.temp_status">
            <mat-radio-button class="example-margin" *ngFor="let e of listStatus" [value]="e.value">{{e.label}}</mat-radio-button> 
          </mat-radio-group>
        </section>
    </ng-container>
    <ng-template #elseTemplate style="margin: 10px;">
      <mat-form-field style="text-align: center;margin:10px;" >
        <input style="font-weight:bolder;"  placeholder="{{action}} Box barcode" readonly matInput required [(ngModel)]="local_data.box_barcode">
      </mat-form-field>
    </ng-template>
  </div>
  <div  mat-dialog-actions>
    <button mat-button class="mat-success" (click)="doAction()" >{{action}}</button>
    <button mat-button class="mat-danger" (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
  </div>
</div>