<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">     
                      <div class="row" style="margin-bottom: 10px;">
                        <div class="col-lg-12 col-md-12 ml-auto mr-auto">
                            <div class="row">     
                                <div class="col-md-6">
                                  <div class="card-header card-header-icon">
                                    <div class="card-icon"><i class="material-icons">hourglass_top</i></div>   
                                    <h4 class="card-title "> Excpected samples : <b> {{currentDate | date:'dd-MM-yyyy'}} </b> </h4>         
                                </div>
                                </div>
                                <div class="col-md-3">
                                    
                                </div>
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <input  matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                  </mat-form-field>
                                </div>
                        </div>
                    </div>
                    </div>
                    
                      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                        <ng-container matColumnDef="ces_id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> CES </th>
                            <td mat-cell *matCellDef="let element"> {{element.ces_id}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="constances_id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Constances ID </th>
                            <td mat-cell *matCellDef="let element"> {{element.constances_id}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="sample_barcode">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sample barcode </th>
                            <td mat-cell *matCellDef="let element"> {{element.sample_barcode}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="container_type">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Container type </th>
                          <td mat-cell *matCellDef="let element"> {{element.container_type}} </td>
                      </ng-container>
                    
                      <ng-container matColumnDef="collection_type">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Collection type </th>
                          <td mat-cell *matCellDef="let element"> {{element.collection_type}} </td>
                      </ng-container>
                    
                      <ng-container matColumnDef="collect_date">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> collect date </th>
                          <td mat-cell *matCellDef="let element"> {{element.collect_date}} </td>
                      </ng-container>
                    
                      <ng-container matColumnDef="collect_time">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> collect time </th>
                        <td mat-cell *matCellDef="let element"> {{element.collect_time}} </td>
                     </ng-container>
                  
                      <ng-container matColumnDef="time_elapsed">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Time elapsed </th>
                          <td mat-cell *matCellDef="let element"> {{element.time_elapsed}} </td>
                      </ng-container>
                                
                      <ng-container matColumnDef="late_status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> status</th>
                        <td mat-cell *matCellDef="let element"> {{element.label_status}} </td>
                      </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;let entry"[ngClass]="{'TooLateSamples': entry.late_status == 'EXPECTED_TOO_LATE_SAMPLE_SCANNED','LateSamples': entry.late_status == 'EXPECTED_LATE_SAMPLE_SCANNED' }"></tr>
                    
                      </table>
                    
                      <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
  
                </div>
            </div>
        </div>
    </div>
  </div>